*.mp4
mars_teleop_out*
mars_rgbd_test_out
mars_ht_vel_out*

*__pycache__
__pycache__/
*.py[cod]
*$py.class
navdp/ckpt_last.pt
*.pt

rollout_navdp1.py

vla_rollout*
mars_belief_demo*
navdp_rollout*

vlm_nav_out

assets/marsyard2022.obj
assets/marsyard2022.glb
marsyard2022.obj
marsyard2022_tri.glb

annotations

.DS_Store

*.pth
*.md
.venv

logs
